
@{
    ViewData["Title"] = "LogIn";
}
        <div id="intro">
            <div id="intro_wrap">
                <div class="container_12">
                    <div id="breadcrumbs" class="grid_12">
                        <a asp-action="Index">Главная</a>
                        &gt; <a asp-action="LogIn">Авторизация</a>
                    </div>
                    <h1>Авторизация и регистрация</h1>
                </div>
            </div>
        </div>
        <!-- end of intro -->
  
  
  <!-- ********************** --> 
  <!--      C O N T E N T     --> 
  <!-- ********************** --> 
  <div id="content" class="container_16">
  

    <div id="login_page" class="grid_16">
            
      <div class="grid_8 alpha">
        <h2 class="s_title_1"><span class="s_secondary_color">Нет аккаунта? </span>Зарегистрируйтесь!</h2>
        <div class="clear"></div>
        <form id="account"  >
          <div class="s_row_3 clearfix">
            <p>Создав аккаунт, Вы сможете быстрее и удобнее совершать покупки!</p>

          </div>
          <span class="clear border_ddd"></span>
          <br />
          <a asp-action="Register"><input type="button"  value="Регистрация" class="s_button_1 s_main_color_bgr left"/></a>
          
        </form>
      </div>

      <div class="grid_8 omega">
        <h2 class="s_title_1"><span class="s_secondary_color">Войти в </span>учётную запись</h2>

        <div class="clear"></div>
        <form id="login" method="post">
          <div class="s_row_3 clearfix">
            Войти в учётную запись<br />
            <br />
            <label><strong>Имя пользователя:</strong></label>
            <input type="text" size="35" required="" placeholder="Username" />
            <br />
            <br />
            <label><strong>Пароль:</strong></label>
            <input type="password" required="" size="35" placeholder="Password" />
            <br />
          </div>
          <span class="clear border_ddd"></span>
          <br />
          <input type="button" value="Авторизация" class="s_button_1 s_main_color_bgr left"/>
        </form>
      </div>

    </div>
    
  </div>
  <!-- end of content --> 
  


